//- Layout definitions:
/**
 * Main container:
 * 1. Make the container full-width with 1160px maximum width
 * 2. Center it in the viewport
 * 3. Leave 30px padding on the laterals
 */
 .main {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $flow-space * 2;
  padding-right: $flow-space * 2;

  @include respond-to(small) {
    width: auto;
    margin-left: $flow-space * 2;
    margin-right: $flow-space * 2;
  }
 }