//- Basic typography style
html {
  font: normal 87.5% / 1.4 $text-font-stack; //- 87.5% makes 'em' unit to be computed to 14px; (14px wanted / 16px default)
}

body {
  color: $text-color;
}

//- TBD Headings, Parragraphs
h1 {
  @include respond-to('small') {
    font-size: map-get($heading-font-1--map, small);
  }

  @include respond-to('medium') {
    font-size: map-get($heading-font-1--map, medium);
  }

  @include respond-to('large') {
    font-size: map-get($heading-font-1--map, large);
  }
}

h2 {
  font-size: $heading-font-2;
}

h3 {
  font-size: $heading-font-3;
}

h4 {
  font-size: $heading-font-4;
}

h5 {
  font-size: $heading-font-5;
}

h6 {
  font-size: $heading-font-6;
}

p {
  @include respond-to(small) {
    font-size: map-get($parragraph--map, small)
  }

  @include respond-to(medium) {
    font-size: map-get($parragraph--map, medium)
  }

  @include respond-to(large) {
    font-size: map-get($parragraph--map, large)
  }
}