//- Under Construction specific styles
body {
  background: $main-color url($image-url + 'cat2.jpg');  
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $light-grey;
}