.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: $text-color; /* default color */
  color: $text-color; /* default color when currentColor is used */
  font-size: 1.4em; /* default-size */
  text-align: center;
  vertical-align: middle;
  box-sizing: content-box;
  margin: auto;
  overflow: hidden;
  pointer-events: none;

  .list & {
    margin-top: -.3rem; // for optical alignment
    margin-right: 1rem;
    margin-left: -3rem;
  }

  &--header-list {
    font-size: 2rem;
  }

  &--detail-list {
    font-size: 1.3rem;
    color: $text-color-lighter;
  }

  &--section-grid {
    color: $pagination-color;
    margin-top: -.2rem; // for optical alignment
    margin-right: .6rem;
  }

  &--chevron-left,
  &--chevron-right {
    font-size: 1.5rem;
    color: $white;
  }

  &--chevron-left {
    transform: rotate(180deg);
  }
}