#slideContainer {
  display: flex;
  @include respond-to('small') {
    transition: all 300ms ease-in-out;
  }
}

.slide-item {
  min-width: 100%;

  & + .slide-item {
    margin-left: $page-gutter;
  }

  @include respond-to("small") {
    overflow: hidden;
    max-width: var(--card-max-width);
    padding-bottom: $vertical-space;
    background-color: $white;
    box-shadow: 0 13px 23px rgba(0, 0, 0, 0.03);
    border-radius: $section-radius;

    & > *:not(.tab-nav) {
      max-width: calc(100% - 4rem);
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.slide-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: $vertical-space / 2;

  &__item {
    display: flex;
    padding: $vertical-space / 2;
    cursor: pointer;

    &::before {
      content: "";
      align-self: center;
      width: $vertical-space / 2;
      height: $vertical-space / 2;
      background-color: $pagination-color;
      border-radius: 50%;
    }

    &:not(.is-active) {
      @media (hover: hover) {
        &:hover {
          &::before {
            background-color: $text-color;
          }
        }
      }
    }

    &.is-active {
      cursor: default;

      &::before {
        background-color: white;
      }
    }
  }
}

// Handle slide animation
@for $i from 1 through 3 {
  .slide-#{$i} {
    #slideContainer {
      @include respond-to("small") {
        transform: translateX(calc(-100% * #{$i - 1} - #{$page-gutter} * #{$i - 1}));
      }
  
      @include respond-to("medium") {
        transform: translateX(calc(-100% * #{$i - 1}));
      }
  
      @include respond-to("large") {
        transform: translateX(calc(-100% * #{$i - 1} + #{$page-gutter / 2} * #{$i - 1}));
      }
    }
    
    
    //- Test for sliders
    // .slide-item {
    //   @if $i == 1 {
    //     background-color: wheat;
    //   }
    
    //   @if $i == 2 {
    //     background-color: pink;
    //   }
    
    //   @if $i == 3 {
    //     background-color: bisque;
    //   }
    // }
  }
}
