// #Form Elements:

// ## Form
.product-form {
  width: 100%;

  @include respond-to('small') {
    max-width: 400px;
  }

  @include respond-to('medium-large') {
    overflow: hidden;
    background-color: $white;
    border-radius: 0 0 $section-radius $section-radius;
  }
}

// ## Labels
label {
  font-size: map-get($general-font-size--map, main);
  cursor: pointer;
}

// ## Input
input {
  &[type='radio'] {
  }
}