.header {
  display: flex;
  color: $heading-1-color; 

  @include respond-to('small') {
    justify-content: flex-start;
    margin-bottom: 5.5rem; // instead of $vertical-space based number for px-perfect
  }

  @include respond-to('medium-large') {
    justify-content: flex-end;
  }

  &__column {
    @include respond-to('medium-large') {
      order: 2;
      width: 50%;
      padding: 7rem 0 12rem;
    }

    &--content {
      @include respond-to('small') {
        padding-top: $vertical-space * 3;
      }

      @include respond-to('medium-large') {
      padding-top: 6vw;
      }

      
    }

    // &--image {
    //   @include respond-to('medium-large') {
    //     position: relative;
    //     order: 1;
    //   }
    // }
  }
  
  &__title {
    @include respond-to('small') {
      margin-bottom: $vertical-space / 2;
    }

    @include respond-to('medium-large') {
      margin-bottom: $vertical-space;
    }
  }

  &__image {
    position: absolute;
    right: -105px;
    top: 50px;
    min-width: 866px;
    min-height: 558px;
    z-index: map-get($z-index--map, negative);
  }
}