.main {
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: calc(#{$max-main-container-width} + #{2 * $page-gutter});

  @include respond-to("small") {
    flex-direction: column;
  }

  @include respond-to("medium-large") {
    margin-bottom: $vertical-space * 2;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  //- Section Elements
  &__title {
    width: 100%;
    text-align: center;

    @include respond-to("medium-large") {
      height: 6.6rem;
      padding-top: $vertical-space;
      font-size: map-get($general-font-size--map, main);
      color: $white;
    }

    .section--primary & {
      @include respond-to("small") {
        padding-bottom: 1.5rem; // instead of $vertical-space based number for px-perfect
        font-weight: map-get($text-font-weight, bold);
        text-transform: uppercase;
        color: $section-header-color;
      }

      @include respond-to("medium-large") {
        background-color: $section-header-bg;
        border-radius: $section-radius $section-radius 0 0;
      }
    }

    .section--secondary &,
    .section--tertiary & {
      @include respond-to("medium-large") {
        background-color: mix($white, $section-header-bg, 15%);
      }
    }

    .section--secondary & {
      // font-family: $quicksandBold;
      font-weight: map-get($text-font-weight, bold);

      @include respond-to("small") {
        color: $light-sky-blue;
        margin-bottom: $vertical-space * 2;
      }

      @include respond-to("medium-large") {
        border-radius: $section-radius 0 0 0;
      }
    }

    .section--tertiary & {
      @include respond-to("medium-large") {
        border-radius: 0 $section-radius 0 0;
      }
    }
  }

  &__body,
  &__footer {
    text-align: center;

    @include respond-to("medium-large") {
      width: 100%;
    }

    .section--primary & {
      // @include respond-to('small') {
      //   max-width: var(--card-max-width);
      // }

      @include respond-to("medium") {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @include respond-to("large") {
        padding-left: 3rem;
        padding-right: 3rem;
      }
    }

    .section--secondary &,
    .section--tertiary & {
      @include respond-to("medium") {
        padding-left: $page-gutter / 4;
        padding-right: $page-gutter / 4;
      }

      @include respond-to("large") {
        padding-left: $page-gutter / 2;
        padding-right: $page-gutter / 2;
      }
    }
  }

  &__body {
    //- on click translateX(calc(-200% - 80px))
    @include respond-to("medium-large") {
      padding-top: $vertical-space;
    }

    .section--primary & {
      @include respond-to("small") {
        display: flex;
        max-width: var(--card-max-width);
      }

      @include respond-to("medium-large") {
        background-color: $white;
        padding-bottom: $vertical-space;
      }
    }

    .section--secondary &,
    .section--tertiary & {
      padding-bottom: $vertical-space;

      @include respond-to("medium-large") {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: mix($white, $dirty-white, 65%);
      }
    }
  }

  &__footer {
    padding-top: $vertical-space / 2;

    @include respond-to("medium-large") {
      padding-bottom: $vertical-space;
    }

    .section--primary &,
    .section--secondary & {
      @include respond-to("small") {
        max-width: var(--card-max-width);
      }
    }

    .section--primary & {
      @include respond-to("medium-large") {
        background-color: $white;
        border-radius: 0 0 $section-radius $section-radius;
      }
    }

    .section--secondary &,
    .section--tertiary & {
      @include respond-to("medium-large") {
        font-weight: map-get($text-font-weight, bold);
        background-color: $white;
      }
    }

    .section--secondary & {
      @include respond-to("medium-large") {
        text-transform: uppercase;
        border-radius: 0 0 0 $section-radius;
      }

      @include respond-to("small") {
        font-weight: map-get($text-font-weight, bold);
        text-transform: uppercase;
        color: #97a7c0;
      }
    }

    .section--tertiary & {
      border-radius: 0 0 $section-radius 0;
    }
  }

  //- Section Modifiers
  &--primary {
    flex-grow: 2;

    @include respond-to("small") {
      order: 1;
    }

    @include respond-to("medium-large") {
      order: 2;
      width: 36.4%;
    }
  }

  &--secondary,
  &--tertiary {
    flex-grow: 1;
    margin-top: $vertical-space * 2;

    @include respond-to("medium-large") {
      position: relative;
      width: 31.8%;
      margin-bottom: 5rem;

      &::before {
        content: "";
        position: absolute;
        width: 3rem;
        height: 100%;
      }
    }
  }

  &--secondary {
    &::before {
      right: 0;
      background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.1) -100%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    @include respond-to("small") {
      order: 2;
      width: 100vw;
      margin-left: -$page-gutter / 2;
      padding: 1rem $page-gutter / 2;
      background-color: $section-ele-bg;
    }

    @include respond-to("medium-large") {
      order: 1;
      border-radius: $section-radius 0 0 $section-radius;
    }
  }

  &--tertiary {
    order: 3;
    border-radius: 0 $section-radius $section-radius 0;

    &::before {
      left: 0;
      background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.1) -100%, rgba(0, 0, 0, 0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(
        left,
        rgba(0, 0, 0, 0.1) -100%,
        rgba(0, 0, 0, 0) 100%
      ); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) -100%,
        rgba(0, 0, 0, 0) 100%
      ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
}
