//- Color variables
/// @type Color
$white: #fff !default;
$dirty-white: #fefefe !default;
$light-grey: #ebf1fa !default;
$steel-blue: #2d589a !default;
$cornflower-blue: mix($white, $steel-blue, 85%) !default;
$steel-grey: mix($white, $steel-blue, 30%) !default;
$light-sky-blue: #76a6ef !default;
$slate-blue: #5d5ce0 !default;
$green-yellow: #d7f741 !default;

$heading-1-color: $white;
$heading-2-color: $dirty-white;
$section-header-bg: $steel-blue;
$section-header-color: $green-yellow;
$text-color: $steel-blue;
$section-ele-bg: $light-grey;
$section-ele-border: $light-grey;

$gradient-bg-start-color: $light-sky-blue;
$gradient-bg-stop-color: $slate-blue;

$button-primary-color: $green-yellow;

$label-bg--checked: $light-sky-blue;
$label-bg--unchecked: #f0f0f0;

