//- Color variables
/// @type Color
$white: #fff !default;
$cornflower-blue: #4b6fa6 !default;
$steel-blue: #2d589a !default;
$light-sky-blue: #76a6ef !default;
$slate-blue: #5d5ce0 !default;
$steel-grey: #98a1b0 !default;
$green-yellow: #d7f741 !default;


$light-grey: rgb(245, 245, 245) !default;
$mid-grey: rgb(153, 153, 153) !default;
$dark-grey: rgb(68, 68, 68) !default;

$text-color: $steel-blue;
$main-color: rgb(204, 102, 102) !default;
$secondary-color: $light-grey;




$gradient-bg-start-color: $light-sky-blue;
$gradient-bg-stop-color: $slate-blue;